/*-------------------------GENERAL-------------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0px;
}

a {
  margin: 0px;
  text-decoration: none;
}

/*-------------------------NAVIGATION SECTION-------------------------*/

/*-------------NAV GENERAL-------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
/*-------------NAV 1-------------*/
.nav-1 {
  display: flex;
  /* background-color: aqua; */
  gap: 0.5;
}

.greenlife-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.header-txt {
  color: #4caf50;
  font-size: 2rem;
  font-weight: 700;
}

/*-------------NAV 2-------------*/
.nav-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* background-color: rgb(15, 238, 89); */
}

.nav-links {
  font-size: 1.2rem;
}
/*-------------NAV 3-------------*/
.nav-3 {
  display: flex;
}

.cart-btn {
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  border-radius: 0.5rem;
  height: 3rem;
  width: 7rem;
  gap: 0.5rem;
}

.cart-img {
  height: 2rem;
  width: 2rem;
}
